<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="list" class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Ingredients</th>
          <th scope="col">Likes</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.ingredientsNum %></td>
            <td><%= recipe.likes %></td>
          </tr>
        </tbody>
    </table>
    <div class="container">
      <h2>Comments</h2>
      <% let number = 0 %>
        <% let total = 0 %>
        <% if(recipe.comments.length) { %>
          <div class="card" style="width: 50%">
          <% recipe.comments.forEach(i => { %>
              <% total += i.rating  %>
                <% number += 1 %>
                <div class="card-body">
                  <h5 class="card-title">Comment <%= number %></h5>
                  <p class="card-text"><%= i.content %></p>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
          </div>
              <% })} %>
    </div>
      <h6>Average rating <%= total/recipe.comments.length %></h6>
      <h2>Add Comments</h2>
      <form id="add-comment" method="POST"
        action="/recipe/<%= recipe._id %>/comment">
        <label>Coment:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Add Comment">
      </form>     
  </body>
</html>
