<!DOCTYPE html>
<html>
  <head>
    <title><%= //title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= //title %></h1>
    <p>Welcome to <%= //title %></p>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Ingredients</th>
          <th>Likes</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% // recipe.forEach(function(m) { %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.ingredientsNum %></td>
            <td><%= recipe.likes %></td>
            <td><%= recipe.comments %></td>/
          </tr>
          <% // }); %>
        </tbody>
      </table>    
  </body>
</html>
